1. What exactly is []?

> [] is an empty list. It is an ordered collection of items, which can be of different data types. It can be used to store data such as strings, integers, floats, and other data types.

2. In a list of values stored in a variable called spam, how would you assign the value 'hello' as the third value? (Assume [2, 4, 6, 8, 10] are in spam.)

In [1]:
spam = [2,4,6,8,10]
spam[2] = 'hello'
print(spam)

[2, 4, 'hello', 8, 10]

##**Let's pretend the spam includes the list ['a', 'b', 'c', 'd'] for the next three queries.**

In [2]:
spam = ['a','b','c','d']

3. What is the value of spam[int(int('3' * 2) / 11)]?



> Value of int('3' * 2) --> 33 then


> Value of int(int('3' * 2)/11) --> 3


> Therefore spam[3] = 'd'

In [9]:
spam[int(int('3' * 2)/11) ]

'd'

4. What is the value of spam[-1]?

In [10]:
spam[-1] #spam[-1] means first element from last of list.

'd'

5. What is the value of spam[:2]?

In [11]:
spam[:2] # slicing list from o to 2 exluding 2 which is ['a'. 'b']

['a', 'b']

## Let's pretend bacon has the list [3.14, 'cat,' 11, 'cat,' True] for the next three questions.

In [19]:
bacon = [3.14, 'cat', 11, 'cat', True]

6. What is the value of bacon.index('cat')?

In [20]:
bacon.index('cat') # since list indexing start from 0 so 'cat' is at Index 1 in list bacon

1

7. How does bacon.append(99) change the look of the list value in bacon?

In [21]:
bacon.append(99) # append fucntion in list appends given value at the end of list
print(bacon)

[3.14, 'cat', 11, 'cat', True, 99]

8. How does bacon.remove('cat') change the look of the list in bacon?

In [22]:
bacon.remove('cat') # The remove() function is used to remove the first item  
                      # from a list whose value is equal to the specified value.
print(bacon)

[3.14, 11, 'cat', True, 99]

9. What are the list concatenation and list replication operators?

> List Concatenation Operator: The '+' operator is used to concatenate two lists.
> List Replication Operator: The '*' operator is used to replicate a list a certain number of times.

10. What is difference between the list methods append() and insert()?



> While append() will add values only to the end of a list, insert() can add them anywhere in the list.

11. What are the two methods for removing items from a list?



> The del statement and the remove() list method are two ways to remove values from a list.

12. Describe how list values and string values are identical.



> Both lists and strings can be passed to len(), have indexes and slices, be used in for loops, be concatenated or replicated, and be used with the in and not in operators.

13. What's the difference between tuples and lists?



> Tuples are immutable, meaning they can not be changed once they are created. They are also faster to create and search because they are immutable. Tuples use parentheses () while lists use square brackets []. Lists are mutable, meaning they can be changed once they are created. They can also be extended or reduced at any time, unlike tuples.

14. How do you type a tuple value that only contains the integer 42?

In [25]:
tuple_1 = (42)
print(tuple_1)

42

15. How do you get a list value's tuple form? How do you get a tuple value's list form?



> To get a list value's tuple form, you can use the tuple() function. For example,my_list = [1, 2, 3]
my_tuple = tuple(my_list)



> To get a tuple value's list form, you can use the list() function. For example,my_tuple = (1, 2, 3)
my_list = list(my_tuple)

In [28]:
my_list = [1, 2, 3]
my_tuple = tuple(my_list)
print(my_tuple)
print(type(my_tuple))

(1, 2, 3)
<class 'tuple'>

In [29]:
my_tuple = (1, 2, 3)
my_list = list(my_tuple)
print(my_list)
print(type(my_list))

[1, 2, 3]
<class 'list'>

16. Variables that "contain" list values are not necessarily lists themselves. Instead, what do they contain?



> A variable that contains list values contains references to the list objects.

17. How do you distinguish between copy.copy() and copy.deepcopy()?



>The copy.copy() function will do a shallow copy of a list, while the copy.deepcopy() function will do a deep copy of a list. That is, only copy.deepcopy() will duplicate any lists inside the list.